In [ ]:
#getting started
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
#initializing a pandas object with an array of values
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
#passing date data into pandas
#a date like Dec 12, 1994 could be passed as
num = pd.date_range('19941212', periods=7)
num

DatetimeIndex(['1994-12-12', '1994-12-13', '1994-12-14', '1994-12-15',
               '1994-12-16', '1994-12-17', '1994-12-18'],
              dtype='datetime64[ns]', freq='D')

In [9]:
#creating data frames with numpy
dat = pd.DataFrame(np.random.randn(7,4), index=num, columns={'dog','cat','mouse','duck'})
dat

               mouse       dog      duck       cat
1994-12-12 -0.510595  2.440741  0.196158  1.461111
1994-12-13 -0.222737  0.691845 -0.147522  1.585306
1994-12-14 -1.070032  0.860315 -1.496106 -1.026409
1994-12-15 -1.423014  0.904674  0.390323  0.733042
1994-12-16  0.793124 -0.213932 -0.140568  0.705547
1994-12-17 -1.131714  0.033625  1.865184  0.703420
1994-12-18 -0.814719 -0.545536  1.376404 -1.078491

In [11]:
#creating data frames from json objects/dictionaries
frame =  pd.DataFrame({
        'A':1,
        'B':pd.Timestamp('19941212'),
        'C':pd.Series(1,index=list(range(4)),dtype='float32'),
        'D':np.array([3]*4,dtype='int32'),
        'E':pd.Categorical(['Test','Train','Test','Train']),
        'F':'Foo'})
frame

   A          B    C  D      E    F
0  1 1994-12-12  1.0  3   Test  Foo
1  1 1994-12-12  1.0  3  Train  Foo
2  1 1994-12-12  1.0  3   Test  Foo
3  1 1994-12-12  1.0  3  Train  Foo

In [17]:
#dataframe method
#the include the .index,.values,.columns, .T
frame.describe()
frame.T

,0,1,2,3
A,1,1,1,1
B,1994-12-12 00:00:00,1994-12-12 00:00:00,1994-12-12 00:00:00,1994-12-12 00:00:00
C,1,1,1,1
D,3,3,3,3
E,Test,Train,Test,Train
F,Foo,Foo,Foo,Foo

In [22]:
#sorting data frames
#the .sort method is method is used order the frame by some value e.g
#items in the dataframe can be accessed like dictionaries
#but the .head and .tail method aallow from the selection of the initial and end parts of the frame specifically 
#which take indexical arguments
frame.tail(1)

   A          B    C  D      E    F
3  1 1994-12-12  1.0  3  Train  Foo

In [31]:
#the .loc method allowes for the selection of multiple items with a range
#frame.loc[:,['cat','dog']]
#the mean, median, mode methods also are inherited by dataframe objects
#to get the sum of values in an array the following numpy method can be called
#frame.apply(np.cumsum)
#or
#frame.apply(lambda x: x.max() - x.min())

In [34]:
#the .merge or .concat method are used to merge data frames
f = frame.copy()
k = pd.concat([frame, f])
k

   A          B    C  D      E    F
0  1 1994-12-12  1.0  3   Test  Foo
1  1 1994-12-12  1.0  3  Train  Foo
2  1 1994-12-12  1.0  3   Test  Foo
3  1 1994-12-12  1.0  3  Train  Foo
0  1 1994-12-12  1.0  3   Test  Foo
1  1 1994-12-12  1.0  3  Train  Foo
2  1 1994-12-12  1.0  3   Test  Foo
3  1 1994-12-12  1.0  3  Train  Foo

In [ ]:
#reading and writing to files
#to write data_frame.to_csv/excel()
#to read data_frame.read_csv/excel()